@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
    --font-sora: "Sora", sans-serif;
    --font-inter: "Inter", sans-serif;
    --color-dark: #323030;
    --color-white: #FFFFFF;
    --color-accent: #34C759;
    --color-secondary: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-inter);
    color: var(--color-dark);
    background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sora);
}